body {
  margin: 0px;
}

.page-container {
  max-width: 800px;
  padding: 80px 24px;
  margin: auto;
}

.footer-container {
  padding: 24px;
}

.footer {
  background-color: rgb(224, 95, 35);
  font-size: 18px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-link {
  margin-bottom: 10px;
  text-align: center;
}

.footer-link a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.footer-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-link {
    width: 100%;
  }
}

.footer-copyright {
  color: #cfbfbf;
  text-align: center;
  padding-top: 14px;
}
